import random

while True:
    print(" rock".lower())
    print(" paper".lower())
    print(" Scissors".lower())
    print("---------------------")

    randomNumber =random.randint(1,3)
    computer = "rock"
    if randomNumber == 1 :
      computer = "rock"
    elif randomNumber == 2 :
      computer = "paper"
    elif randomNumber == 3 :
      computer = "Scissors"
    Player1 = input("player1 , make you move : ")
    print(f"player2 , make your move :{computer} ")
    player2 = computer
  
    if Player1 == player2 : 
      print("thats a tie")
    elif Player1 == "rock" and player2 == "paper" :
      print("player2 win")
    elif Player1 == "rock" and player2 == "scissors" :
      print("player1 win")
    elif Player1 == "paper" and player2 == "rock" :
      print("player1 win")
    elif Player1 == "paper" and player2 == "paper" :
      print("thats make a tie")
    elif Player1 == "paper" and player2 == "scissors" :
      print("playerr2 win ")
    elif Player1 == "scissors" and player2 == "rock" :
      print("player2 win")
    elif Player1 == "scissors" and player2 == "paper" :
      print("player1 win") 
    elif Player1 == "scissors" and player2 == "scissors" : 
      print("thats make a tie")
    else : 
      print("somthing went wrong")
    again = input("do you want to play again ? ".lower())
    if again != "yes" :
        print("end")
        break
